extends layout
block content
    form(action='/comments/create/' + postId, method='post')
        h2 Create Comment
        div Body:
        textarea(name='body', maxlength='500', rows='5', cols='50')
        br
        button(type='submit') Comment